# TODO: URL base de la API real del programa
VITE_API_BASE_URL=https://app.drcarlosjaramillo.com/api

# TODO: ID del player de converteai/vturb para el video de bienvenida
VITE_CONVERTEAI_PLAYER_ID=69c75d53a78f10ae44d4a8bb
VITE_CONVERTEAI_ACCOUNT_ID=6cbfeb0a-b3f2-4704-8256-5353ae117f33

# TODO: Clave de analítica (Google Analytics, etc.)
VITE_GA_TRACKING_ID=

# TODO: Endpoint de webhook para notificaciones de nuevos usuarios
VITE_WEBHOOK_URL=